@model IEnumerable<Prefecture>
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetValues">
    <div class="form-group row">
        <label for="Prefecture" class="col-sm-2 col-form-label">Préfecture : </label>
        <div class="col-sm-10">
            <select name="prefect" id="prefect" required="required" class="custom-select my-1 mr-sm-2">
                <option value="">Choisisez la préfecture</option>
                @foreach (Prefecture p in Model)
                {
                    <option value="@p.Id">@p.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="Place" class="col-sm-2 col-form-label">Quartier : </label>
        <div class="col-sm-10">
            <select name="idPlace" id="idPlace" required="required" class="custom-select">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="area" class="col-sm-2 col-form-label">Superficie (en m2) : </label>
        <div class="col-sm-10">
            <input name="area" type="number" class="form-control" min="1" required="required" />
        </div>
    </div>
    <div class="form-group row">
        <label for="area" class="col-sm-2 col-form-label">Valeur d'achat du terrain : </label>
        <div class="col-sm-10">
            <input name="valAchat" type="number" class="form-control" min="1" required="required" />
        </div>
    </div>
    <div class="form-group row">
        <label for="area" class="col-sm-2 col-form-label">Nombres de pages de l'acte notarié : </label>
        <div class="col-sm-10">
            <input name="nbrePge" type="number" class="form-control" min="1" required="required" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Envoyer" class="btn btn-primary mb-2" />
    </div>
</form>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var PrefectSelected = $("#prefect");
        var PlaceSelected = $("#idPlace");
        PlaceSelected.prop('disabled', true);
        PrefectSelected.change(function () {
            if ($(this).val() == "") {
                PlaceSelected.prop('disabled', true);
                PlaceSelected.val("");
            }
            else {
                $.ajax({
                    url: "https://localhost:5004/api/Places/prefecture/" + $(this).val(),
                    method: "get",
                    success: function (data) {
                        PlaceSelected.prop('disabled', false);
                        PlaceSelected.empty();
                        PlaceSelected.append($('<option/>', { value: '', text: '-- Selectionner le quartier --' }));
                        $(data).each(function (index, item) {
                            PlaceSelected.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });

    });
</script>

<script type="text/javascript">
    (function ($, undefined) {
        "use strict";
        // When ready.
        $(function () {
            var $form = $("#form");
            var $input = $form.find("input");
            $input.on("keyup", function (event) {
                // When user select text in the document, also abort.
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }
                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                    return;
                }
                var $this = $(this);
                // Get the value.
                var input = $this.val();
                var input = input.replace(/[\D\s\._\-]+/g, "");
                input = input ? parseInt(input, 10) : 0;
                $this.val(function () {
                    return (input === 0) ? "" : input.toLocaleString("en-US");
                });
            });
            /**
             * ==================================
             * When Form Submitted
             * ==================================
             */
            $form.on("submit", function (event) {
                var $this = $(this);
                var arr = $this.serializeArray();
                for (var i = 0; i < arr.length; i++) {
                    arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
                };
                console.log(arr);
                event.preventDefault();
            });
        });
    })(jQuery);
</script>

}