@model IEnumerable<Prefecture>
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetValVenal">
    <label for="Prefecture">Prefecture</label>
    <select name="prefect" id="prefect" required="required">
        <option value="">Choisisez la préfecture</option>
        @foreach (Prefecture p in Model)
        {
            <option value="@p.Id">@p.Name</option>                
        }
    </select>
    <br/>
    <label for="Place">Quartier</label>
    <select name="idPlace" id="idPlace" required="required"> 
    </select>
    <br/>
    <label for="area">Superficie (en m2)</label>
    <input name="area" type="number" min="1" required="required"/>
    <div class="form-group">
        <input type="submit" value="Envoyer" />
    </div>
</form>   

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var PrefectSelected = $("#prefect");
            var PlaceSelected = $("#idPlace");
            PlaceSelected.prop('disabled', true);
            PrefectSelected.change(function (){
                if($(this).val() == "") {
                    PlaceSelected.prop('disabled', true);
                    PlaceSelected.val("");
                }
                else {
                    $.ajax({
                        url: "https://localhost:5004/api/Places/prefecture/" + $(this).val(),
                        method: "get",
                        success: function (data) {
                            PlaceSelected.prop('disabled', false);
                            PlaceSelected.empty();
                            PlaceSelected.append($('<option/>', {value: '', text: '-- Selectionner le quartier --'}));
                            $(data).each(function(index, item) {
                                PlaceSelected.append($('<option/>', {value: item.id, text: item.name }));
                            });
                        }
                    });
                }
            });

        });
    </script>   
}