<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="PlaceFileUpload">
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Fichier</label>
        <input class="form-control" accept=".csv" name="file" required="required" type="file">
    </div>
    <div class="form-group">
        <input type="submit"class="btn btn-primary mb-2" value="Envoyer" />
        
    </div>
    <div class="form-group">
        <span>@TempData["msg"]</span>
    </div>
</form>